extract.out
hubert_base_ls960_librispeech_extracted.pt
hubert_base_ls960_spokencoco_extracted.pt
hubert_base_ls960.pt
wav2vec_spokencoco_extracted.pt
wav2vec_small_librispeech_extracted.pt
spokencoco_val.csv
librispeech_train-clean-100.csv
extract_wav2vec.out
