extract.out
hubert_base_ls960_librispeech_extracted.pt
hubert_base_ls960_spokencoco_extracted.pt
hubert_base_ls960.pt
wav2vec_spokencoco_extracted.pt
wav2vec_small_librispeech_extracted.pt
spokencoco_val.csv
librispeech_train-clean-100.csv
extract_wav2vec.out
slurm-outfiles/slurm-10*
bak.hubert_base_ls960_librispeech_extracted.pt
__pycache__/custom_classes.cpython-39.pyc
__pycache__/custom_functions.cpython-39.pyc
__pycache__/plot_figs.cpython-39.pyc
fast_vgs_librispeech_train_extracted.pt
fast_vgs_spokencoco_val_extracted.pt
bak.wav2vec_small_librispeech_extracted.pt
weird_libri.out
weirdsentences.out
extracted_embeddings/fast_vgs_plus_librispeech_train_extracted.pt
extracted_embeddings/fast_vgs_plus_spokencoco_val_extracted.pt
extracted_embeddings/wav2vec_small_spokencoco_extracted.pt
__pycache__/bow.cpython-39.pyc
bow.ipynb
fastvgs.ipynb
extracted_embeddings/hubert_base_ls960_librispeech_train_extracted.pt
extracted_embeddings/hubert_base_ls960_spokencoco_val_extracted.pt
extracted_embeddings/wav2vec_small_librispeech_train_extracted.pt
extracted_embeddings/wav2vec_small_spokencoco_val_extracted.pt
extract_fast_vgs.out
extract.sh
__pycache__/infersent.cpython-39.pyc
encoder/infersent2.pkl
extracted_embeddings/wav2vec_random_librispeech_train_extracted.pt
extracted_embeddings/wav2vec_random_spokencoco_val_extracted.pt
GloVe/glove.840B.300d.txt
GloVe/glove.840B.300d.zip
kernel.1380.out
pairwise_distances/fast_vgs_librispeech_train_pairwise_distance.pt
pairwise_distances/fast_vgs_plus_librispeech_train_pairwise_distance.pt
pairwise_distances/fast_vgs_plus_spokencoco_val_pairwise_distance.pt
pairwise_distances/fast_vgs_spokencoco_val_pairwise_distance.pt
pairwise_distances/wav2vec_random_spokencoco_val_pairwise_distance.pt
pairwise_distances/wav2vec_random_librispeech_train_pairwise_distance.pt
pairwise_distances/wav2vec_small_librispeech_train_pairwise_distance.pt
pairwise_distances/wav2vec_small_spokencoco_val_pairwise_distance.pt
scc_generated_trees.pt
hubert_base_ls960_spokencoco_val_pairwise_distance.pt
hubert_base_ls960_librispeech_train_pairwise_distance.pt
audio_emb_pairwise_distance.pt
libri_generated_trees.pt
kernel.sh
run_bash.sh
run.sh
slurm_run_model.sh
scc_trees_kernel.pt
debug.ipynb
rsa.ipynb
audio_distance.1377.out
pairwise_distances/fast_vgs_librispeech_train_pairwise_distance_full.pt
pairwise_distances/fast_vgs_plus_librispeech_train_pairwise_distance_full.pt
pairwise_distances/fast_vgs_plus_spokencoco_val_pairwise_distance_full.pt
pairwise_distances/fast_vgs_spokencoco_val_pairwise_distance_full.pt
pairwise_distances/hubert_base_ls960_librispeech_train_pairwise_distance_full.pt
pairwise_distances/hubert_base_ls960_spokencoco_val_pairwise_distance_full.pt
pairwise_distances/wav2vec_random_librispeech_train_pairwise_distance_full.pt
pairwise_distances/wav2vec_random_spokencoco_val_pairwise_distance_full.pt
pairwise_distances/wav2vec_small_librispeech_train_pairwise_distance_full.pt
pairwise_distances/wav2vec_small_spokencoco_val_pairwise_distance_full.pt
tree_kernel/libri_trees_0.5_42_kernel.pt
tree_kernel/libri_trees_0.5_666_kernel.pt
tree_kernel/libri_trees_0.5kernel.pt
tree_kernel/libri_trees_1kernel.pt
tree_kernel/scc_trees_0.5_42_kernel.pt
tree_kernel/scc_trees_0.5_666_kernel.pt
tree_kernel/scc_trees_0.5kernel.pt
tree_kernel/scc_trees_1kernel.pt
pairwise_distances/fast_vgs_librispeech_train_pairwise_distance_full.pt
__pycache__/kernel_calc.cpython-39.pyc
utils/__pycache__/custom_classes.cpython-39.pyc
utils/__pycache__/custom_functions.cpython-39.pyc
