extract.out
hubert_base_ls960_librispeech_extracted.pt
hubert_base_ls960_spokencoco_extracted.pt
hubert_base_ls960.pt
wav2vec_spokencoco_extracted.pt
wav2vec_small_librispeech_extracted.pt
spokencoco_val.csv
librispeech_train-clean-100.csv
extract_wav2vec.out
slurm-outfiles/slurm-10*
bak.hubert_base_ls960_librispeech_extracted.pt
__pycache__/custom_classes.cpython-39.pyc
__pycache__/custom_functions.cpython-39.pyc
__pycache__/plot_figs.cpython-39.pyc
fast_vgs_librispeech_train_extracted.pt
fast_vgs_spokencoco_val_extracted.pt
bak.wav2vec_small_librispeech_extracted.pt
weird_libri.out
weirdsentences.out
extracted_embeddings/fast_vgs_plus_librispeech_train_extracted.pt
extracted_embeddings/fast_vgs_plus_spokencoco_val_extracted.pt
extracted_embeddings/wav2vec_small_spokencoco_extracted.pt
__pycache__/bow.cpython-39.pyc
bow.ipynb
fastvgs.ipynb
extracted_embeddings/hubert_base_ls960_librispeech_train_extracted.pt
extracted_embeddings/hubert_base_ls960_spokencoco_val_extracted.pt
extracted_embeddings/wav2vec_small_librispeech_train_extracted.pt
extracted_embeddings/wav2vec_small_spokencoco_val_extracted.pt
extract_fast_vgs.out
extract.sh
